.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#container {
  width: 400px;
  height: 400px;
  position: relative;
  top: 10%;
  background-color: transparent;
  background-image: url("./images/track.png");
  background-size: contain;
}
.animate {
  width: 60px;
  height: 30px;
  position: absolute;
  background-color: transparent;
  background-image: url("./images/redcar2.png");
  background-size: contain;
  transform: rotate(0deg);
}
#animate1 {
  background-image: url("./images/greencar2.png");
}
#animate2 {
  background-image: url("./images/bluecar2.png");
}

#row0 {
  background-color: lightsalmon;
}
#row1 {
  background-color: lightgreen;
}
#row2 {
  background-color: lightskyblue;
}

#resetButton {
  float: left;
  position: relative;
  top: 10%;
}

#speedSlider {
  float: left;
  width: 30%;
  position: relative;
  bottom: 15%;
  left: 10%;
}
#speedLabel {
  float: left;
  position: relative;
  left: 9%;
  top: 50%;
}

.table {
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#simulation {
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
